<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
   
<display-name>XMLMWE Analyzer</display-name>

	<description>
A Web-based environment for learning, assessing and knowledge sharing in communities
</description>

	
	<servlet>
<description>This is the description of my J2EE component</description>
<display-name>This is the display name of my J2EE component</display-name>
<servlet-name>analyzerServlet</servlet-name>
<servlet-class>analyzerServlet</servlet-class>
</servlet>

	<servlet-mapping>
<servlet-name>analyzerServlet</servlet-name>
<url-pattern>/analyzer/processAnalyzer.jsp</url-pattern>
</servlet-mapping>

<resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/generator</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>